h1 span span { 
    color: var(--animatedText1); 
}
h1 span span, h2 span span {
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
}
h1 span span:nth-child(2n) {
    color: var(--animatedText2); 
}
h1 span span:nth-child(3n) {
     color: var(--animatedText3); 
}
h1 span span:nth-child(7n) {
    color: var(--animatedText4); 
}

@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}
