h1 span span, h2 span span {
    position: relative;
    opacity: 0;
    animation: move-text 0.85s forwards;
}

/*@for $i from 1 through 7 {
    h1 span span:nth-child(#{$i}n) {
        color: var(--animatedText#{$i})
    }
}*/

h1 span span:nth-child(1n) { 
    color: var(--animatedText1); 
}
h1 span span:nth-child(2n) {
    color: var(--animatedText2); 
}
h1 span span:nth-child(3n) {
    color: var(--animatedText3); 
}
h1 span span:nth-child(4n) {
    color: var(--animatedText4); 
}
h1 span span:nth-child(5n) {
    color: var(--animatedText5); 
}
h1 span span:nth-child(6n) {
    color: var(--animatedText6); 
}
h1 span span:nth-child(7n) {
    color: var(--animatedText7); 
}

@keyframes move-text {
    0% { bottom: -0.5em; opacity: 1; }
    50% { bottom: 0.5em; }
    100% { bottom: 0; opacity: 1; }
}
