.email-me {
    margin-bottom: 7%;
    font-size: 2rem;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: orange;
}

input[type=text] {
    background-color: rgb(245, 243, 243);
}

textarea[type=text] {
    background-color: rgb(245, 243, 243);
}

textarea {
    resize: none;
}

.btn-lrg {
    width: 30%;
}

.btn-primary {
    border-color: black;
}

.btn-secondary {
    color: white;
    border-color: black;
}

.btn-primary:focus, .btn-secondary:focus, .btn-primary:active, .btn-secondary:active {
    outline: 0 !important;
    border: none;
}

.button-container {
    margin-bottom: 15%;
}

/* Resize for medium screens */
@media (max-width: 720px) {
    .greeting {
        font-size: 1.5rem;
    }
    .email-me {
        font-size: 1.25rem;
    }
    .row-label {
        font-size: .75rem;
    }
  }
  
  /* Resize for small screens */
  @media (max-width: 486px) {
    
  
  }