.contact-greeting {
    margin-top: 13%;
    margin-bottom: 5%;
    font-size: 3rem;
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
}

.email-me {
    margin-bottom: 7%;
    font-size: 2rem;
}

.email-link:hover {
    color: var(--hover);
}

.form-container {
    margin-left: 10%;
    margin-right: 10%;
}

a:link {
    text-decoration: none;
}

input[type=text], textarea[type=text] {
    background-color: var(--contactInput);
}

textarea {
    resize: none;
}

.btn-lrg {
    width: 30%;
}

.btn-primary {
    border: 2px solid var(--contactButtonBorder);
}

.btn-secondary {
    border: 2px solid var(--contactButtonBorder);
}

.btn-primary:focus, .btn-secondary:focus, .btn-primary:active, .btn-secondary:active {
    outline: 0 !important;
    border: none;
}

.button-container {
    margin-bottom: 15%;
}

/* Resize for medium screens */
@media (max-width: 720px) {
    .contact-greeting {
        font-size: 2.5rem;
        margin-top: 10%;
    }
    .email-me {
        font-size: 1.25rem;
    }
    .row-label {
        font-size: .75rem;
        margin-left: 2%;
    }
  }
  
  /* Resize for small screens */
  @media (max-width: 486px) {
    .contact-greeting {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2rem;
    }
    .row-label {
        margin-left: 2%;
    }
  }