* > body {
    color: white;
    background-color: black;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

  nav {
    background-color: rgb(12, 63, 95);
    border-bottom: 2px solid white;
    display: flex;
  }

  .navigation-container {
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }

  .nav-button, .nav-button-external {
    color: black;
    border: none;
    background-color: #0c3f5f;
    font-size: 1.25rem;
  }

  .nav-button-external {
    margin-top: 9%;
  }

  .nav-item {
    margin: 4% 6% 3% 2%;
  }

  .nav-link {
    text-decoration: none !important;
    color: black;
  }

  .nav-button:hover, .nav-link:hover {
    color: rgb(255, 153, 0);
  }

  .nav-button:focus {
    outline: 0;
  }



