:root {
  --navBarBg: rgb(8, 92, 143);
  --navBarText: black;
  --navBarTextBorder: white;
  --navBarHover: rgb(162, 222, 237);
  --hover: rgb(162, 222, 237);
  --text: rgb(245, 243, 243);
  --background: rgb(8, 8, 8);
  --border: white;
  --projectBorder: white;
  --contactButtonBorder: black;
  --caption: rgb(245, 243, 243);
  --coloredCaption: rgb(171, 118, 221);
  --link: rgb(171, 118, 221);
  --contactInput: rgb(245, 243, 243);
  --animatedText1: rgb(145, 187, 116);
  --animatedText2: rgb(215, 152, 80);
  --animatedText3: rgb(238, 221, 153);
  --animatedText4: rgb(184, 93, 93);
  --animatedText5: rgb(94, 157, 212);
  --animatedText6: rgb(155, 135, 216);
  --animatedText7: rgb(177, 131, 210);
}

.day-mode {
  --navBarText: black;
  --navBarTextBorder: white;
  --hover: rgb(126, 14, 14);
  --text: black;
  --background: rgb(245, 243, 243);
  --border: black;
  --projectBorder: rgb(247, 244, 247);
  --contactButtonBorder: rgb(245, 243, 243);
  --contactInput: white;
  --caption: black;
  --link: rgb(62, 9, 113);
  --animatedText1: rgb(66, 1, 66);
  --animatedText2: rgb(86, 20, 103);
  --animatedText3: rgb(128, 18, 93);
  --animatedText4: rgb(148, 11, 130);
}


* > body {
  color: var(--text);
  background-color: var(--background);
}

body {
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: var(--hover);
}

nav {
  background-color: var(--navBarBg);
  border-bottom: 2px solid var(--border);
  display: flex;
}

.navigation-container {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.nav-button {
  color: var(--navBarText);
  border: none;
  background-color: var(--navBarBg);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  position: relative;
}

.nav-item {
  margin: 5% 5% 3% 0;
}

.nav-link {
  text-decoration: none !important;
  color: var(--navBarText);
}

.nav-link:hover {
  color: var(--navBarHover);
}

.nav-button:focus {
  outline: 0;
}

.nav-button:after {    
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--navBarTextBorder);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-button:hover:after { 
  width: 100%; 
  left: 0; 
}

.social-image {
  position: relative;
  left: 600px;
  padding-left: 10%;
  margin-top: 60%;
}

.social-image:hover {
  filter: invert(100%);
}

#LinkedIn-icon {
  margin-left: 50%;
}

@media (max-width: 1060px) {
  .social-image {
    left: 4rem;
  }
}

@media (max-width: 889px) {
  .social-image {
    left: 2rem;
  }
  .nav-button {
    font-size: 1rem;
  }
}

/* Resize for medium screens */
@media (max-width: 768px) {
  .nav-button {
    font-size: 1rem;
    margin-top: 15%;
  }
  .nav-item {
    margin: 0.5%;
  }
  .social-image {
    margin-top: 80%;
    left: 0rem;
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 610px) {
  .nav-item {
    margin: 0;
  }
  .social-image {
    left: 0rem;
  }
}

@media (max-width: 577px) {
  .nav-button {
    font-size: 0.5rem;
    margin-top: 15%;
  }
  .nav-item {
    margin-left: 0;
  }
  .social-image {
    left: 0rem;
    margin-top: 150%;
    width: 1rem;
    height: 1rem;
  }
  
}


/* Resize for small screens */
@media (max-width: 414px) {
  .nav-button {
    font-size: 0.5rem;
    margin-top: 15%;
  }
  .nav-item {

  }
  .social-image {
    display: none;
  }
  
}

