* > body {
  color: white;
  background-color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: rgb(162, 222, 237);
}

nav {
  background-color: rgb(8, 92, 143);
  border-bottom: 2px solid white;
  display: flex;
}

.navigation-container {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.nav-button {
  color: black;
  border: none;
  background-color: rgb(8, 92, 143);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  position: relative;
}

.nav-item {
  margin: 5% 5% 3% 0;
}

.nav-link {
  text-decoration: none !important;
  color: black;
}

.nav-button:focus {
  outline: 0;
}

.nav-button:after {    
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-button:hover:after { 
  width: 100%; 
  left: 0; 
}

/* Resize for medium screens */
@media (max-width: 720px) {
  .nav-button {
      font-size: 1rem;
  }

  .nav-button {
    margin-top: 15%;
  }
  .nav-item {
    margin: 0.5%;
  }
}

/* Resize for small screens */
@media (max-width: 580px) {
  
}

