.project-list-container {
    text-align: center;
}

.project-list {
    list-style-type: none;
    margin-right: 3%;
}

.project-list-item {
    margin: 2%;
}

.project-button {
    background-color: var(--background);
    outline: 0 !important;
    border: none;
    font-size: 2rem;
}

.project-button:hover {
    border: 1px solid var(--projectBorder);
    transition: 800ms;    
}

/* Resize for medium screens */
@media (max-width: 720px) {
    .project-button {
        font-size: 1.25rem;
        padding: 1rem;
    }
}
  
/* Resize for small screens */
@media (max-width: 486px) {
    .project-button {
        font-size: 1.25rem;
        padding: 1rem;
    }

}