.project-title {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    color: var(--text);
    font-weight: bold;
    text-underline-position: under;
    font-size: 3rem;
}

.image-caption {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    color: var(--coloredCaption);
}

.description, .role {
    font-size: 1.25em;
    text-align: left; 
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.link-container {
    text-align: center;
    padding-bottom: 5%;
}

.link-to-repo {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 7%;
    font-size: 1.75rem;
    text-decoration: none !important; 
    color: var(--link);;
}

.link-to-repo:hover, .back-button:hover {
    color: var(--hover);
}

.back-button {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 7%;
    margin-right: 10%;
    font-size: 1.75rem;
    color: var(--link);
    background-color: var(--background);
    border: none;
}

.project-image {
    margin-bottom: 0;
    border: 1px solid var(--text);
}

button.rec-arrow {
    color: var(--text) !important;
    background-color: var(--background) !important;
    border: 1px solid var(--border);
    outline: 0 !important;
}

button.rec-arrow:hover {
    filter: invert(100%)
}

button.rec-arrow-left {
    margin-left: 5%;
}

button.rec-arrow-right {
    margin-right: 5%;
}

button.rec-dot {
    background-color: var(--background);
    border: 1px solid var(--border);
    height: 15px;
    margin-top: 0;
}

button.rec-dot:focus {
    outline: 0;
}


/* Resize for medium screens */
@media (max-width: 720px) {
    .project-title {
        font-size: 1.5rem;
    }
    .image-caption {
        font-size: 1rem;
        margin-bottom: 5%;
    }
    .description, .role {
        font-size: 1rem;
        margin-top: 5%;

    }
    .link-to-repo, .back-button {
        font-size: 1.25rem;
    }
}
  
/* Resize for small screens */
@media (max-width: 486px) {
    .image-caption {
        margin-bottom: 5%;
        color: var(--coloredCaption)
    }
    .link-to-repo, .back-button {
        font-size: 0.75rem;
        margin-bottom: 15%;
    }
    .description, .role {
        font-size: 1rem;
        margin-top: 5%;
    }
    .project-image {
        margin-bottom: 0;
        width: 100%;
    }
    .project-image-container {
        display: none;
    }

}