.project-list-container {
    text-align: center;
}

.project-list {
    list-style-type: none;
    margin-right: 3%;
}

.project-list-item {
    margin: 2%;
}

.project-button {
    background-color: black;
    outline: 0 !important;
    border: none;
    font-size: 2rem;
}