.toggle-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2%;
    margin-bottom: 2%;
    background: var(--themeButtonBackground);
    color: var(--text);
    border: 1px solid var(--border);
}

.toggle-button:focus, .toggle-button:active {
    outline: 0
}

.toggle-button:hover {
    background-color: var(--text);
    color: var(--background);
}