.email-me {
    margin-bottom: 7%;
    font-size: 3rem;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: orange;
}

input[type=text] {
    background-color: rgb(245, 243, 243);
}

textarea[type=text] {
    background-color: rgb(245, 243, 243);
}

textarea {
    resize: none;
}

.btn-lrg {
    width: 30%;
}

.btn-primary {
    background-color: rgb(16, 125, 92);
    border-color: black;
}

.btn-secondary {
    background-color: rgb(143, 34, 14);
    color: white;
    border-color: black;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: orange;
}

.btn-primary:focus, .btn-secondary:focus {
    outline: 0 !important;
}

.button-container {
    margin-bottom: 15%;
}