.name {
    font-size: 3rem;
    padding: 10% 10% 1% 10%;
    text-align: center; 
    font-family: 'Nothing You Could Do', cursive;
}

.title {
    font-size: 2rem;
    color: var(--text);
    padding: 2% 10% 5% 10%;
    text-align: center; 
}

.image-container {
    text-align: center;
    margin-bottom: 50%;
}

.image-button {
    background-color: var(--background);
    width: 100%;
    border: none;
}

.image-button:focus {
    outline: 0;
}

.portrait {
    width: 25%;
    border-radius: 100%;
    border: 2px solid var(--border);
    filter: grayscale(100%);
}

#portrait {
    transform: scaleX(1) scaleY(1);
}

/* Resize for medium screens */
@media (max-width: 720px) {
    .name {
        font-size: 3rem;
        padding: 20% 5% 1% 5%;
    }
    .title {
        font-size: 2rem;
    }
    .portrait {
        width: 35%;
    }
}

/* Resize for small screens */
@media (max-width: 486px) {
    .name {
        font-size: 2rem;
        padding: 20% 10% 1% 10%;
    }
    .title {
        font-size: 1.5rem;
    }
    .portrait {
        width: 35%;
    }

}
