.page-title {
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
}

.page-subtitle {
    font-size: 1.5rem;
    margin-bottom: 3%;
    text-align: center;
}

/* Resize for medium screens */
@media (max-width: 720px) {
    .page-title {
        font-size: 1.5rem;
    }
    .page-subtitle {
        font-size: 1rem;
    }
}
  
/* Resize for small screens */
@media (max-width: 486px) {


}