.skill-page-title {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 3rem;
    font-family: 'Nothing You Could Do', cursive;  
}

.languages-table, .packages-table, .tools-table {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
}

.skill-name, .skill-table-name {
    text-align: center;
}

.skills-container {
    text-align: center;
}

.skill-table-name {
    letter-spacing: 0.15rem;
}

/* Resize for medium screens */
@media (max-width: 700px) {
    .skill-page-title {
        font-size: 2.75rem;
        margin-top: 10%;
    }
    .languages-table, .packages-table, .tools-table {
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .skill-name, .skill-table-name {
        font-size: 1.25rem;
    }
}

/* Resize for small screens */
@media (max-width: 486px) {
    .skill-page-title {
        font-size: 2rem;
        margin-top: 10%;
    }
    .languages-table, .packages-table, .tools-table {
        margin-bottom: 10%;
    }
}

/* Resize for small screens */
@media (max-width: 389px) {
    .skill-page-title {
        font-size: 2rem;
        margin-left: 26%;
        margin-top: 15%;
    }
    .languages-table, .packages-table, .tools-table {
        margin-bottom: 10%;
    }

    .languages-table, .tools-table {
        margin-left: 40%;
    }
    
    

}
