  .greeting {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  .interests-container {
    margin-left: 25%;
    margin-bottom: 2%;
    font-size: 2rem;
  }

  .interest-item {
    margin-bottom: 2%;
  }

  .info {
    font-size: 2rem;
    margin-bottom: 10%;
  }

  .intro, .middle, .closing {
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2%;
  }

  